ul.menu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
    background-color: #28598F; /* バーの背景色(濃い赤色) */
}

/* ▼メインメニュー項目の装飾 */
ul.menu li {
    width: 125px;           /* メニュー項目の横幅(125px) */
    display: inline-block;  /* ★1:横並びに配置する */
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
ul.menu a {
    background-color: #28598F; /* メニュー項目の背景色(濃い赤色) */
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★4:項目内全域をリンク可能にする */
}
ul.menu a:hover {
    background-color: #FFDAA2; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #28598F;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ▼サブメニューは、とりあえず非表示にしておく */
ul.menu ul {
    display: none;         /* ★5:非表示にする */
}
/*サブメニュー*/
ul.menu ul {
    display: none;       /* ★1:標準では非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;  /* ★4:絶対配置にする */
}

/* ▼サブメニューがある場合に開く処理 */
/* ※サブメニューが1階層しか存在しない場合の記述 */
ul.menu li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* ▼サブメニュー項目の装飾 */
ul.menu ul li {   /* ※A */
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid white; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
 ul.menu ul li a {   /* ※B */
    line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
}
 ul.menu ul li a:hover {   /* ※C */
    background-color: #FFDAA2; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #2c5736;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}
/*画面全体の設定*/
body,
html {
    height: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 10px;
}

/*固定する背景*/
div {
    box-sizing: border-box;
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    padding: 5%;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
}

/*各背景の画像*/
.img-bg-01 {
    background-image: url('../img/img1.png');
}
.img-bg-02 {
    background-image: url('../img/img2.png');
}
.img-bg-03 {
    background-image: url('../img/img3.png');
}
.img-bg-04 {
    background-image: url('../img/img4.png');
}
.img-bg-05 {
    background-image: url('../img/img5.png');
}
.img-bg-06 {
    background-image: url('../img/img6.png');
}
.img-bg-07 {
    background-image: url('../img/img7.png');
}
.img-bg-08 {
    background-image: url('../img/img8.png');
}
.img-bg-09 {
    background-image: url('../img/img9.png');
}
.img-bg-10 {
    background-image: url('../img/img10.png');
}
.img-bg-11 {
    background-image: url('../img/img11.png');
}

/*スクロールするコンテンツ*/
.scrollbox1 {
    background-color: white;
}
.scrollbox2 {
    background-color: white;
}
.scrollbox3 {
    background-color: white;
}
.scrollbox4 {
    background-color: white;
}
.scrollbox5 {
    background-color: white;
}
.scrollbox6 {
    background-color: white;
}
.scrollbox7 {
    background-color: white;
}
.scrollbox8 {
    background-color: white;
}
.scrollbox9 {
    background-color: white;
}
.scrollbox10 {
    background-color: white;
}
.scrollbox11 {
    background-color: white;
}
