ul.menu {
    margin: 0px;  
    padding: 0px 0px 0px 15px;
    background-color: #28598F;
    padding: 0px 25%;
}

ul.menu li {
    width: 125px;
    display: inline-block;
    list-style-type: none;
    position: relative; 
}
ul.menu a {
    background-color: #28598F; 
    color: white;  
    line-height: 40px;      
    text-align: center;       
    text-decoration: none;    
    font-weight: bold;
    display: block;
}
ul.menu a:hover {
    background-color: #FFDAA2;
    color: #28598F;
}

ul.menu ul {
    display: none;
}
/*サブメニュー*/
ul.menu ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.menu li:hover ul {
    display: block;
}

ul.menu ul li {
    width: 125px;
    border-top: 1px solid white;
}
ul.menu ul li a {
    line-height: 35px;  
    text-align: left;    
    padding-left: 5px;   
    font-weight: normal;
}
ul.menu ul li a:hover {
    background-color: #FFDAA2; 
    color: #2c5736;            
}

body,
html {
    height: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 15px;
}


div {
    box-sizing: border-box;
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    padding: 5%;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
}

.img-bg-01 {
    background-image: url('../img/img1.png');
}
.img-bg-02 {
    background-image: url('../img/img2.png');
}
.img-bg-03 {
    background-image: url('../img/img3.png');
}
.img-bg-04 {
    background-image: url('../img/img4.png');
}
.img-bg-05 {
    background-image: url('../img/img5.png');
}
.img-bg-06 {
    background-image: url('../img/img6.png');
}
.img-bg-07 {
    background-image: url('../img/img7.png');
}
.img-bg-08 {
    background-image: url('../img/img8.png');
}
.img-bg-09 {
    background-image: url('../img/img9.png');
}
.img-bg-10 {
    background-image: url('../img/img10.png');
}
.img-bg-11 {
    background-image: url('../img/img11.png');
}

.scrollbox1 {
    background-color: white;
}
.scrollbox2 {
    background-color: white;
}
.scrollbox3 {
    background-color: white;
}
.scrollbox4 {
    background-color: white;
}
.scrollbox5 {
    background-color: white;
}
.scrollbox6 {
    background-color: white;
}
.scrollbox7 {
    background-color: white;
}
.scrollbox8 {
    background-color: white;
}
.scrollbox9 {
    background-color: white;
}
.scrollbox10 {
    background-color: white;
}
.scrollbox11 {
    background-color: white;
}
